body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#overpass-api-controls {
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

#overpass-api-controls a {
    display: inline;
}

div.restaurant-title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}
div.tram-route {
    font-weight: bold;
}
div.tram-stop {
    font-weight: bold;
}